<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Buy Ticket</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


  </head>

  <body class="bg-light">

  	<div class="container">
  		<div class="row mt-5">
  			<div class="col-md-8 offset-md-2">
  				<div class="card">

            <div class="card-header shadow-sm bg-white">
  						<h1 class="display-5 text-info">
  							<i class="fas fa-check-double"></i> Buy Ticket
  						</h1>
  					</div>

            <div class="card-body">
              <p>From now on it will be more convenient to buy online tickets depending on your needs.</p>
              <hr>
              <p>You can buy your ticket directly from here</p>
              <button type="button" class="btn btn-success">Buy Ticket</button>

            </div>
            <hr>
            <div class="card-body">
            <h4>Validate your ticket</h4>
              <div class="input-group mb-3">
                <button class="btn btn-primary" type="button" id="button-addon1">Check</button>
                <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
